@font-face {
  font-family: 'Baloo Bhai';
  font-style: normal;
  font-weight: normal;
  src: local('Baloo Bhai'), url('./assets/fonts/BalooBhai-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Futura Std Book';
  font-style: normal;
  font-weight: normal;
  src: local('Futura Std Book'), url('./assets/fonts/FuturaStdBook.woff') format('woff');
}

@font-face {
  font-family: 'Permanent Marker', cursive;
  font-style: normal;
  font-weight: normal;
  src: local('Permanent Marker'), url('./assets/fonts/PermanentMarker-Regular.ttf') format('ttf');
}
