@import './sass/reset';
@import './sass/fonts';
// @import './components/components';

body {
  // background-image: url("https://images.unsplash.com/photo-1548788693-9a7e66ceaad8?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEwMTI3N30");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Futura Std Book';
}
